.content-wrapper {
    padding: 20px 0px !important;
}
.navbar {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
/*Top Bar Logo Section*/
    .navbar .navbar-brand-wrapper {
        background: #032187;
        transition: width 0.25s ease, background 0.25s ease;
        -webkit-transition: width 0.25s ease, background 0.25s ease;
        -moz-transition: width 0.25s ease, background 0.25s ease;
        -ms-transition: width 0.25s ease, background 0.25s ease;
        width: 237px;
        height: 70px;
    }
/*********************************************************************/

/*Top Bar Right Section*/
    .navbar .navbar-menu-wrapper {
        background: black;
        transition: width 0.25s ease;
        -webkit-transition: width 0.25s ease;
        -moz-transition: width 0.25s ease;
        -ms-transition: width 0.25s ease;
        color: #032187;
        padding-left: 2.55rem;
        padding-right: 2.55rem;
        width: calc(100% - 237px);
        height: 70px;
    }
/*********************************************************************/

/*Title Bar Section of Form on each page*/
.card-header-custom {
    padding: 1.0rem 1.25rem;
    margin-bottom: 0;
    background-color: #032187;
    border-bottom: 1px solid #032187;
    color: white;
    text-transform: uppercase;
}
.btn-custom {
    color: #912828;
    border-color: #912828;
    margin: -8px 0px;
    text-transform: none;
}
    .btn-custom:hover {
        background-color: #912828;
        border-color: white;
        color: #912828 !important;
    }

/*********************************************************************/

/*Side Bar Section*/
.sidebar {
    min-height: calc(100vh - 70px);
    background: #032187;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    padding: 0;
    width: 237px;
    z-index: 11;
    transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;
    -ms-transition: width 0.25s ease, background 0.25s ease;
}

    .sidebar .nav:not(.sub-menu) > .nav-item.active {
        background: Black;
        border-radius: 0.437rem;
    }

    .sidebar .nav .nav-item .nav-link i.menu-icon {
        font-size: 1rem;
        line-height: 1;
        margin-right: 1rem;
        color: white;
    }
    /*********************************************************************/

    /*Side Bar Active Menu*/
    .sidebar .nav .nav-item.active > .nav-link i, .sidebar .nav .nav-item.active > .nav-link .menu-title, .sidebar .nav .nav-item.active > .nav-link .menu-arrow {
        color: white;
    }
  /*  .sidebar .nav:not(.sub-menu) > .nav-item:hover > .nav-link, .sidebar .nav:not(.sub-menu) > .nav-item:hover[aria-expanded="true"] {
        background: #912828;
        color: #912828;
        border-radius: 0.437rem;
    }*/
    .sidebar .nav .nav-item .nav-link {
     
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        white-space: nowrap;
        padding: 0.75rem 1.937rem 0.75rem 1rem;
        color: white;
        -webkit-transition-duration: 0.45s;
        -moz-transition-duration: 0.45s;
        -o-transition-duration: 0.45s;
        transition-duration: 0.45s;
        transition-property: color;
        -webkit-transition-property: color;
    }
/*********************************************************************/

.modal-header {
    color: white;
    background-color: #032187;
    border-bottom: 1px solid #032187;
    text-transform: uppercase;
}

.modal .modal-dialog .modal-content .modal-header {
    padding: 10px 25px;
}

.modal-header .close {
    margin: -18px -26px -25px auto;
}

.login-full-bg {
    background: url("images/LoginImage.jpg");
    background-size: auto;
    background-size: cover;
}
.auth .login-half-bg {
    background: none;
    background-size: auto;
    background-size: cover;
    opacity: 0.7;
}
.login-half-right-bg {
   /* background-image: none;
    background-color: #912828;
    background-size: auto;
    background-size: cover;
    opacity: 0.85;*/
}
.auth.auth-img-bg .auth-form-transparent {
    width: 85%;
   margin: auto;
}
.signIn_panel {
    background: #ededed;
    /*   -moz-box-shadow: 0 0 3px 3px #ddd;
    -webkit-box-shadow: 0 0 3px 3px #ddd;
    box-shadow: 0 0 3px 3px #ddd;*/
    padding: 30px 10px;
    margin-bottom: 10px;
    width: 50%;
}
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }
}